@font-face {
  font-family: "Cabinet Grotesk";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../../vendor/fonts/CabinetGrotesk-Bold.woff2") format("woff2");
}

.clothes-section {
  display: flex;
  flex-direction: column;
}

.clothes-section__header {
  display: flex;
  gap: 20px;
  font-family: "Cabinet Grotesk", Arial, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 1.24;
  color: #000;
}

.clothes-section__items {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  gap: 19px;
  width: 1000px;
}

.clothes-section__add-card-button {
  margin: 0;
  padding: 0;
  border: none;
  cursor: pointer;
  transition: opacity 0.5s linear;
  background-color: transparent;
  opacity: 0.6;
}

.clothes-section__add-card-button:hover {
  opacity: 0.3;
}

@media screen and (max-width: 750px) {
  .clothes-section {
    margin: 20px 0 -5px;
  }

  .clothes-section__items {
    gap: 15px;
  }

  .clothes-section__header {
    justify-content: space-between;
  }
}
